<h2>Perfil de <%= current_user.email%></h2>
<a class="col-lg-4 col-lg-offset-4 btn btn-md btn-default" href="/" role="button">Ir a inicio</a><br><br><br> 
<% if user_signed_in? and current_user.permiso == "usuario" %>

	<div class="col-lg-6 col-lg-offset-3">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Puntos de experiecia</th>
					<th>Nivel</th>
					<th>Victorias</th>
					<th>Derrotas</th>
					<th>Poder de ataque</th>
					<th>Poder de defensa</th>

				</tr>
			</thead>
			<tbody>
			<% @user.each do |u| %>
				<tr>
					<td><%= u.puntos_experiencia %></td>
					<td><%= u.nivel %></td>
					<td><%= u.partidas_ganadas %></td>
					<td><%= u.partidas_perdidas %></td>
					<td><%=@attack%></td>
					<td><%=@defense%></td>
				</tr>
			<% end -%>
			</tbody>
		</table>
	</div> <br>
	
	<div class="col-lg-6 col-lg-offset-3">
		<table class="table">
			<thead>
				<tr>
					<th>Recursos disponibles</th>
					<th><a class="col-lg-8 col-lg-offset-3 btn btn-sm btn-default" href="/menu/recursos" role="button">Reclamar recursos</a></th>
				</tr>
			</thead>
			<tbody>
			<% @recursos.each do |rec| %>
				<tr>
					<td><%= rec.nombre %></td>
					<td>asdf</td>
					
				</tr>
			<% end -%>
			</tbody>
		</table>
	</div><br>
	
	<div class="col-lg-6 col-lg-offset-3">
		<table class="table">
			<thead>
				<tr>
					<th>Tropa disponible</th>
					<th>Ataque</th>
					<th>Defensa</th>
					<th><a class="col-lg-6 col-lg-offset-3 btn btn-sm btn-default" href="/menu/tropas" role="button">Elegir tropa</a></th>
				</tr>
			</thead>
			<tbody>
			<% @tropas.each do |tro| %>
				<tr>
					<td><%= tro.nombre %></td>
					<td><%= tro.ataque %></td>
					<td><%= tro.defensa %></td>
				</tr>
			<% end -%>
			</tbody>
		</table>
	</div>

			
<%else%>
	Esta sección es exclusiva para usuarios. <br><br>

	<a class="btn btn-sm btn-default" href="/" role="button">Ir a inicio</a>


	
<% end -%>

