<h1>Se escuchan vientos de guerra...</h1>

<div class="col-lg-7 col-lg-offset-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Rival</th>
        <th>Nivel</th>
        <th>Victorias</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rival.each do |riv| %>
        <tr>
          <td><%= riv.email %></td>
          <td><%= riv.nivel %></td>
          <td><%= riv.partidas_ganadas %></td>
                    
        </tr>
      <% end %>
    </tbody>
  </table>
  <%if @enemigo.permiso != "usuario"%>
    <p class="col-lg-5 col-lg-offset-2">No puedes iniciar un combate, la tierra te ha perdonado la vida. Inténtalo de nuevo.</p><br>
    <a class="btn btn-lg btn-default" href="/combate/preparados">Intentar de nuevo</a>
  <%elsif @enemigo.id == current_user.id%> 
    <p class="col-lg-5 col-lg-offset-2">No puedes luchar contra tí mismo. Desafía al destino intentándolo otra vez.</p><br>
    <a class="btn btn-lg btn-default" href="/combate/preparados">Intentar de nuevo</a>
  <%else%>
  <div class="col-lg-6 col-lg-offset-3 btn btn-lg btn-warning">
    <td><%= link_to '¡Inicia el combate!', :controller=>"combate", :action=> "iniciar_combate", :id_rival =>@enemigo.id%></td>
    <!--<a class="btn btn-lg btn-warning" href="/combate/batalla">¡Inicia el combate!</a>-->
  </div>
  <% end -%>
</div>

<br>
<%=@random%> 

